// => Form Components
// ------------------------------------------------------------------------------

.form-border {
    background: linear-gradient(to right, #bb47cd 0%,#6c48db 31%,#5452ff 71%,#5452ff 91%);
    padding: 1px;
    border-radius: 20px;
    margin: 1rem auto;
}

.form-bg {
    background: linear-gradient(to right, #bb47cd 0%,#6c48db 31%,#5452ff 71%,#5452ff 91%);
    border-radius: .8rem;
}

.form-control {
    -webkit-appearance: none;
    border-radius: 20px;
    color: #000;
    padding-left: 1rem;
    padding-right: 1rem;
}

.home {
    input.form-control {
        border-radius: .8rem;
        border: none;
        opacity: .9;

        &.form-control-lg {
            height: calc(1.5em + 2rem + 2px);
        }
    }
}

.disabled {

    * {
        background-color: #f8f8f8;
    }
}

// Vue Select components

.vs__dropdown-toggle {
    border: none !important;
    background: #fff !important;
    border-radius: 1rem !important;
    padding: 0 !important;
    margin-top: -3px;
}

.vs__actions {
    padding-right: 10px !important;
}

.vs__dropdown-menu {
    border-radius: .8rem !important;
}

.vs__clear {
    margin-top: -3px;
}

.vs__search, .vs__selected {
    padding: 0 !important;
    margin-left: 0 !important;
}

.vs--disabled {
    background-color: #f8f8f8 !important;
    color: rgba(0, 0, 0, .5) !important;

    * {
        background-color: #f8f8f8 !important;
        color: rgba(0, 0, 0, .5) !important;
    }
}

// Datepicker

.mx-datepicker {
    width: 100% !important;
    color: #333 !important;
}

.mx-input-wrapper {
    margin-top: -4px;
}

.mx-input {
    border: none !important;
    box-shadow: 0 0 0 0 !important;
    padding: 0 !important;
    height: 30px !important;
    font-size: 1rem !important;
    color: #333 !important;
}

.mx-input-append {
    padding: 5px !important;
    margin-top: -3px;
}

.mx-clear-icon {

    &::before {
        content: '' !important;
        background: url("~assets/gfx/icon__clear.svg") no-repeat 0% 50%;
        width: 10px;
        height: 10px;
        opacity: .5;
    }
}


